html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
body {
	min-width: 320px;
	min-height: 100vh;
}
a {
	outline-color: transparent!important;
}
a:hover,
a:focus {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.site-main {
	position: relative;
	z-index: 0;
}
.site-main--blocked {}
/* variables */
:root {
	--black: #202C39;
	--white: white;
	--gray: #9DA0A4;
	--lightGray: #F7F9FC;
	--turquoise: #19BACC;
	--orange: #C9903A;
	--green: #4ACE95;
	--elasticMove: 0.3, 0.5, 0.5, 1.5;
	--rockMove: 0.3, -0.5, 0.5, 1.5;
}
/* site-header styles */
.site-header {
	position: absolute;
	top: 0;
	right: auto;
	left: auto;
	z-index: 1;
	width: 100%;
	background-color: white;	
	-webkit-transition: padding .3s;	
	transition: padding .3s;
	min-height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #E8E8E8;
}
.is-fixed.site-header {	
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
}
.menu	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.site-footer {
	width: 100%;
	background-color: #FFF;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-bottom: 100px;
}
.menu-button:not(.is-closed) {
	position: fixed;
	top: 0;
	right: 0;
}
.menu-button:not(.is-closed) span {
	background-color:var(--black);
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg) scale(1.2);
	        transform: translateY(10px) rotate(45deg) scale(1.2)
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(2) {
	-webkit-transform: rotateY(90deg);
	        transform: rotateY(90deg) 
}
.menu-button:not(.is-closed) .menu-button__wrapper span:nth-child(3) {
	-webkit-transform: translateY(-10px) rotate(-45deg) scale(1.2);
	        transform: translateY(-10px) rotate(-45deg) scale(1.2)
}
.menu-is-open.site-main,
.menu-is-open.site-main + .site-footer {
	display: none;
}
.menu-nav {
	width: 100%;
	background-color: transparent;
}
.menu-nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 60px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.menu-nav ul li:first-child {
	margin-right: auto;
}
.menu-nav ul li:last-child {
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	margin-left: auto;
}
.menu-nav ul li:not(:first-child):not(:last-child) {
	padding-left: 25px;
	padding-right: 25px;
}
.menu-nav ul li a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
	text-transform: uppercase;
}
.menu-nav ul li a:hover {
	opacity: .7;
}
.menu-nav ul li.current_page_item:not(:first-child):not(:last-child) a {
	color: var(--turquoise);
	opacity: 1;
}
.menu-nav ul li:first-child a,
.menu-nav ul li:last-child a {
	font-weight: 900;
	font-size: 20px;
	line-height: 24px;
	font-family: Roboto, sans-serif;
	color: var(--orange);
}
.menu-nav ul li:first-child a {
	text-transform: capitalize;
}
.menu-nav ul li:not(:first-child):not(:last-child) a {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
}
.menu-nav ul li:nth-child(2) {
	-webkit-box-ordinal-group: 0;
	    -ms-flex-order: -1;
	        order: -1;
	margin-right: auto;
}
.site-header--index .menu-nav ul li:nth-child(2),
.menu-nav.is-open ul li:nth-child(2) {
	display: none;
}
.site-header:not(.site-header--index) .menu-nav ul li:first-child {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	margin-right: 0;
	padding-left: 25px;
	padding-right: 25px;
}
.site-header:not(.site-header--index) .menu-nav:not(.is-open) ul li:first-child a {
	font-weight: bold;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	text-transform: uppercase;
}
.site-header:not(.site-header--index) .menu-nav.is-open ul li:first-child {
	width: auto;
	padding-left: 0;
	padding-right: 0;
}
.index-first-screen {
	position: relative;
	width: 100%;
}
.index-first-screen__img {
	width: 100%;
	min-height: 550px;
	overflow: hidden;
}
.index-first-screen__img.disabled {
	display: none;
}
.index-first-screen__img picture,
.index-first-screen__img img {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.index-first-screen__video {
	position: relative;
	display: none;
	width: 100%;
	min-height: 550px;
	overflow: hidden;	
}
.index-first-screen__video::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(222, 242, 244, .8);
	content: "";
}
.index-first-screen__video.active {
	display: block;
}
.index-first-screen__video video {
	position: static;
	display: block;
	width: 100vw;
	height: auto;
	-o-object-fit: cover;
	   object-fit: cover;	
}
.index-first-screen__text {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-first-screen__text h1 {
	font-weight: 600;
	font-size: 40px;
	line-height: 54px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #19BACC;
	margin-top: 0;
	margin-bottom: 0;
}
.index-first-screen__text h2 {
	font-weight: bold;
	font-size: 28px;
	line-height: 38px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: #202C39;
	text-transform: uppercase;
}
.btn {
	width: 220px;
	height: 66px;
	padding: 0;
	font-weight: bold;
	font-size: 24px;
	line-height: 66px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	border-radius: 100px;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;	
	-webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);	
	        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .12);
	margin-top: 30px;
}
.btn--white {
	color: #C9903A;
	background-color: #FFFFFF;
}
.btn--white:hover {
	color: #FFFFFF;
	background-color: #C9903A;
}
.btn--turquoise {
	width: 180px;
	height: 50px;
	font-size: 18px;
	line-height: 50px;
	color: var(--white);
	background-color: var(--turquoise);	
}
.btn--turquoise:hover {
	color: var(--turquoise);
	background-color: white;	
}
.all-sites {
	position: fixed;
	bottom: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100px;
	background-color: #FFF;
	-webkit-transition: visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	transition: transform .5s cubic-bezier(var(--elasticMove)), visibility .5s;
	transition: transform .5s cubic-bezier(var(--elasticMove)), visibility .5s, -webkit-transform .5s cubic-bezier(var(--elasticMove));
	border-top: 1px solid #E8E8E8;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	visibility: hidden;
	pointer-events: none;
	-webkit-transform: translateY(100%);
	        transform: translateY(100%);
}
.all-sites.active {
	visibility: visible;
	pointer-events: all;
	-webkit-transform: translateY(0);
	        transform: translateY(0);
}
.all-sites ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.all-sites ul li {
	margin-left: 10px;
	margin-right: 10px;
}
.index-tabs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 220px;
	background-color: #FFF;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-tabs ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.index-tabs ul li {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.index-tabs ul li:hover {
	opacity: 0.7;
}
.cite {
	width: 100%;
	padding-top: 90px;
	padding-bottom: 90px;
}
.cite__wrapper {
	position: relative;
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}
.cite__wrapper::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	display: block;
	width: 60px;
	height: 2px;
	background-color: var(--turquoise);
	content: "";
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.cite h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 20px;
}
.cite p {
	font-style: italic;
	font-size: 24px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	margin-bottom: 0;
}
.index-cite {}
.index-main-text {
	width: 100%;
}
.index-main-text__wrapper {
	position: relative;
	width: 100%;
	max-width: 555px;
	margin-left: auto;
	margin-right: auto;
}
.index-main-text h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 20px;
}
.index-main-text p {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	margin-bottom: 0;
}
.index-main-text a {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.index-benefits {
}
.index-benefits__content-wrapper {
	display: grid;
	padding-top: 50px;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 46px;
	justify-items: center;
}
.index-benefits__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	grid-column-end: span 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.index-benefits__item h3 {	
	width: 100%;
	font-weight: 600;
	font-size: 28px;
	line-height: 37px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
}
.index-benefits__item p {
	width: 100%;
	font-size: 14px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
}
.index-benefits {
	position: relative;
	z-index: -1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: -6vw;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin-bottom: -2px;
}
.index-benefits__content {
	position: relative;
	width: 100%;
	height: auto;
	background-color: var(--lightGray);
	overflow: hidden;
	margin-top: -5px;
}
.index-benefits__intro,
.index-benefits__outro {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.index-benefits__intro svg,
.index-benefits__outro svg {
	display: block;
	width: 100%;
	height: 11%;
}
.index-benefits__outro svg {
	background-color: var(--lightGray);
}
.index-benefits__intro svg path {
	fill: white;
	fill: var(--lightGray);
}
.index-benefits__outro svg path {
	fill: white;
}
.index-reviews {
	width: 100%;
	background-color: #FFF;
	padding-top: 40px;
	padding-bottom: 40px;
}
.index-reviews__wrapper {
	position: relative;
}
.index-reviews__item {
	width: 100%;
	margin: 30px auto;
	padding: 50px 60px;
	border-radius: 6px;
	max-width: 720px;
	-webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 8px 30px 0 rgba(0, 0, 0, .1);
}
.index-reviews__item p {
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	line-height: 34px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-bottom: 30px;
}
.index-reviews__item cite {
	display: block;
	text-align: center;
}
.index-reviews__item cite a {
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	text-decoration: none;
}
.reviews-item__slider-controls {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	pointer-events: none;
}
.reviews-item__slider-controls span {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 70px;
	height: 70px;
	background-color: var(--lightGray);
	border-radius: 50%;
	pointer-events: all;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	cursor: pointer;
}
.reviews-item__slider-controls span:nth-child(1) {
	left: 0;
}
.reviews-item__slider-controls span:nth-child(2) {
	right: 0;
}
.reviews-item__slider-controls svg {
	width: 36px;
	height: 21px;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	stroke:var(--orange);
	stroke-width: 1px;
	stroke-linecap: round;
	overflow: visible;
	-webkit-transform: scale(1);
	        transform: scale(1);
}
.reviews-item__slider-controls span:hover svg {
	-webkit-transform: scale(1.5);
	        transform: scale(1.5);
}
.reviews-item__slider-controls span path {
	fill: var(--orange);
}
.reviews-item__slider-controls span:nth-child(2) svg {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.reviews-item__slider-controls span:nth-child(2):hover svg {
	-webkit-transform: rotate(180deg) scale(1.5);
	        transform: rotate(180deg) scale(1.5);
}
.lottery {
	width: 100%;
	background-color: #FFF;
	padding-top: 60px;
	padding-bottom: 20px;
	margin-bottom: 80px;
}
.lottery .container {
	padding-bottom: 60px;
}
.lottery.lottery--second {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;	
}
.lottery h1,
.lottery h2 {
	font-weight: 900;
	font-size: 48px;
	line-height: 41px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: var(--orange);
	margin-top: 0;
	margin-bottom: 40px;
}
.lottery h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-bottom: 30px;
	margin-top: 40px;
}
.lottery p {
	margin: 0 auto 20px;
	font-size: 18px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	max-width: 760px;
}
.lottery__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10%;
	justify-items: center;	
	margin-top: 50px;
}
.lottery__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	text-align: center;
	grid-column-end: span 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-left: 15px;
	padding-right: 15px;
}
.lottery__item h3 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 26px;
}
.lottery__item p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 30px;
}
.lottery__item a {
	margin-top: auto;
}
.index-lottery {}
.latest-blog-posts {
	width: 100%;
	padding-top: 40px;
	padding-bottom: 40px;
}
.latest-blog-posts__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 60px;
	justify-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.latest-blog-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 340px;
	text-align: center;
	grid-column-end: span 1;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: left;
	    -ms-flex-align: left;
	        align-items: left;
	margin-bottom: 50px;
	max-width: calc(100vw - 20px);
}
.latest-blog-item a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.latest-blog-item a:hover {
	opacity: 0.7;
}
.latest-blog-item__img {
	margin-bottom: 20px;
}
.latest-blog-item__img img {
	height: auto;
	max-width: 100%;
}
.latest-blog-item span {
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--green);
	margin-bottom: 14px;
}
.latest-blog-item h3 {
	font-weight: 600;
	font-size: 18px;
	line-height: 26px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--black);
	margin-bottom: 14px;
	margin-top: 0;
}
.latest-blog-item p {
	font-size: 13px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--gray);
	margin-bottom: 0;
	margin-top: 0;
}
.blog-title + .latest-blog-posts .latest-blog-item:nth-child(3) {display: -webkit-box;display: -ms-flexbox;display: flex;}
.subscribe {
	width: 100%;
	background: linear-gradient(225deg, #E6F3F8 0%, #C9E3EF 100%);
}
.subscribe__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	min-height: 400px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.subscribe h2 {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 30px;
	margin-bottom: 30px;
}
.subscribe p {
	font-size: 16px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	margin-bottom: 50px;
}
.subscribe form,
div.wpcf7 {
	position: relative;
	width: 555px;
	max-width: 100%;
}
.subscribe .subscribe__email {
	width: 100%;
	height: 58px;
	padding: 18px 158px 18px 28px;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	background-color: #FFFFFF;
	border: 1px solid transparent;
	border-radius: 100px;
	-webkit-transition: border-color .3s;
	transition: border-color .3s;
	-webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
	outline-color: transparent;
}
.subscribe .subscribe__email:focus {
	border-color: var(--green);
}
.subscribe .subscribe__submit {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 130px;
	height: 46px;
	font-weight: 600;
	font-size: 14px;
	line-height: 44px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--white);
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 100px;
	-webkit-transition: color .3s, background-color .3s;
	transition: color .3s, background-color .3s;
	text-transform: uppercase;
	outline-color: transparent;
}
.subscribe .subscribe__submit:hover {
	color: var(--green);
	background-color: var(--white);
}
.subscribe .wpcf7-response-output {
	position: relative;
	top: -50px;
	margin: 0 auto;
	text-align: center;
	border-radius: 100px;
	max-width: 270px;
}
.learn-more-text {
	margin-top: 80px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.learn-more-text__wrapper {
	width: 860px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.learn-more-text h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 60px;
}
.learn-more-text p {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 30px;
}
.qa {
	width: 100%;
	padding-top: 30px;
	margin-bottom: 100px;
}
.qa .btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.qa__wrapper {
	width: 750px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.qa__item {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 80px;
	padding-bottom: 80px;
}
.qa__item::before {
	position: absolute;
	bottom: 0;
	left: calc(50% - 30px);
	display: block;
	width: 60px;
	height: 3px;
	background-color: var(--turquoise);
	border-radius: 5px;
	content: "";
}
.qa__item h2,
.qa__item p {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top: 70px;
	margin-top: 0;
}
.qa__item h2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 42px;
	color: var(--black);
	margin-bottom: 30px;
}
.qa__item p {
	font-size: 18px;
	line-height: 34px;
	color: var(--gray);
	margin-bottom: 0;
}
.qa__item h2::before,
.qa__item p::before {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 70px;
	font-weight: 900;
	font-size: 48px;
	line-height: 63px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.qa__item h2::before {
	color: var(--orange);
	content: "Q";
}
.qa__item p::before {
	color: var(--turquoise);
	content: "A";
}
.matcher-text {
	margin-top: 80px;
	margin-bottom: 80px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.matcher-text__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 950px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.matcher-text__text {
	-ms-flex-preferred-size: 460px;
	    flex-basis: 460px;
	max-width: 460px;
}
.matcher-text__photo {
	-ms-flex-preferred-size: 360px;
	    flex-basis: 360px;
	max-width: 360px;
}
.matcher-text h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 60px;
}
.matcher-text h1 span {
	display: block;
	font-size: 80%;
	color: var(--gray);
}
.matcher-text__text h2 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 60px;
}
.matcher-text p {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 30px;
}
.qa--matcher {}
.confidentiality-text {
	margin-top: 80px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.confidentiality-text__wrapper {
	width: 860px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.confidentiality-text h1 {
	font-weight: 600;
	font-size: 30px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 60px;
}
.confidentiality-text p {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 30px;
}
.get-started-form {
	width: 760px;
	min-height: calc(100vh - 380px);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.love-lottery-content {
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 50px;
}
.love-lottery-content .lottery {
	margin-bottom: 0;
}
.love-lottery-content__img {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-top: 15px;
	margin-bottom: 45px;
}
.love-lottery-content picture,
.love-lottery-content img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-position: center;
	   object-position: center;
	-o-object-fit: cover;
	   object-fit: cover;
}
.love-lottery-cite {
	padding-top: 30px;
	padding-bottom: 30px;
}
.index-tabs--blog {
	margin-top: 80px;
	margin-bottom: 50px;
	padding-top: 80px;
	padding-bottom: 50px;
}
.blog-title__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.blog-title h1 {
	font-weight: 600;
	font-size: 36px;
	line-height: 41px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 0;
	margin-bottom: 0;
}
.blog-title__category-btn {
	display: block;
	width: 160px;
	height: 30px;
	background-color: transparent;
	border: none;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	outline-color: transparent;
}
.blog-title__category-btn span {
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	color: var(--gray);
}
.blog-title__category-btn svg {
	display: inline-block;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s;
	-webkit-transform: rotate(90deg) scaleX(1);
	        transform: rotate(90deg) scaleX(1);
	margin-left: 10px;
}
.blog-title__category-btn.collapsed svg {
	-webkit-transform: rotate(90deg) scaleX(-1);
	        transform: rotate(90deg) scaleX(-1);
}
.blog-title__category-btn path {
	fill: var(--gray);
}
.blog-title .collapse {
	display: none;
}
.blog-title .collapse.in {
	z-index: 1;
	display: block;
}
.blog-title .collapsing {
	position: relative;
	height: 0;
	overflow: hidden;
	-webkit-transition-timing-function: ease;
	        transition-timing-function: ease;
	-webkit-transition-duration: .35s;
	        transition-duration: .35s;
	-webkit-transition-property: height,visibility;
	transition-property: height,visibility;
}
.blog-title__category-dropdown ul {
	display: block;
	width: 160px;
	margin: 0 auto;
	padding: 15px 10px;
	background-color: #FFFFFF;
	list-style: none;
	-webkit-box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
	        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, .14);
}
.blog-title__category-dropdown li:not(:last-child) {
	margin-bottom: 15px;
}
.blog-title__category-dropdown li a {
	display: inline-block;
	width: 100%;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	-webkit-transition: color .3s;
	transition: color .3s;
	text-decoration: none;
}
.blog-title__category-dropdown li:hover a,
.blog-title__category-dropdown li.active a {
	color: var(--black);
}
.blog-items .btn {
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}
.article-img {
	width: 100%;
	margin-bottom: 50px;
	padding-top: 80px;
}
.article-img__wrapper {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}
.article-img picture,
.article-img img {
	display: block;
	width: 100%;
	height: 500px;
	-o-object-fit: cover;
	   object-fit: cover;
}
.article-img__title {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.article-img__title h1  {
	font-weight: 600;
	font-size: 36px;
	line-height: 49px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 20px;
}
.article-img__title p  {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
}
.article-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 990px;
	margin: 0 auto;
	line-height: 1.6;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	max-width: 100%;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.article-content__main {
	-ms-flex-preferred-size: 670px;
	    flex-basis: 670px;
	max-width: 670px;
}
.article-content__sidebar {
	-ms-flex-preferred-size: 270px;
	    flex-basis: 270px;
	max-width: 270px;
}
.article-content__main p,
.article-content__main li {
	font-size: 16px;
	line-height: 28px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}
.article-content__main img {
	display: block;
	margin: 40px auto 10px;
	max-width: 100%;
}
.article-content__main small {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	margin-bottom: 30px;
}
blockquote {
	position: relative;
	padding: 0 0 0 60px;
	font-style: italic;
	font-size: 20px;
	line-height: 32px;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
	margin-top: 40px;
	margin-bottom: 40px;
	border-left: none;
}
blockquote::before {
	position: absolute;
	top: 25px;
	left: 0;
	font-style: italic;
	font-size: 100px;
	color: var(--gray);
	content: "”";
}
.sidebar-subscribe form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.sidebar-subscribe .subscribe__email {
	width: 270px;
	height: 50px;
	padding: 18px;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: #A5A7A9;
	background-color: #F7F9FC;
	border: 1px solid #EDEDED;
	border-radius: 6px;
	max-width: 100%;
	margin-bottom: 25px;
}
.sidebar-subscribe .subscribe__submit {
	width: 270px;
	height: 50px;
	padding: 15px;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #FFFFFF;
	background-color: var(--green);
	border: 1px solid var(--green);	
	border-radius: 100px;
	-webkit-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
	max-width: 100%;
	margin-bottom: 0px;
	outline-color: transparent;
}
.sidebar-subscribe .subscribe__submit:hover {
	color: var(--green);
	background-color: #FFF;
}
.sidebar-subscribe div.wpcf7 .ajax-loader {
	position: absolute;
	bottom: -4px;
	left: calc(50% - 8px);	
}
.sidebar-subscribe .wpcf7-response-output {
	text-align: center;
	border-radius: 100px;
	margin-top: 10px;
	max-width: 270px;
}
.sidebar-subscribe .wpcf7-not-valid-tip {
	text-align: center;
}
.sidebar-subscribe div.wpcf7 {
	margin: auto;
}
.sidebar-share p {
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--gray);
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0;
}
.sidebar-share__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.sidebar-share a {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.sidebar-share a:hover {
	opacity: 0.7;
}
.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-bottom: 30px;
}
.footer-top__logo {
	opacity: 1;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	will-change: opacity;
}
.footer-top__logo:hover {
	opacity: 0.7;
}
.footer-top__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.footer-top__menu li:not(:last-child) {
	margin-right: 20px;
}
.footer-top__menu a {
	font-weight: 600;
	font-size: 12px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.footer-top__menu a:hover,
.footer-top__menu .current_page_item a {
	border-bottom-color: currentColor;
}
.footer-bottom  p {
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: var(--gray);
}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
	.container {
		max-width: 970px;
	}
	.menu-button {
		display: none;
	}
	.index-first-screen__img picture,
	.index-first-screen__img img {
		width: 100%;
		height: auto;
	}}
@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
	.all-sites ul li a {
		display: block;
		-webkit-transition: -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: transform .3s cubic-bezier(.22,.68,0,1.71);
		transition: transform .3s cubic-bezier(.22,.68,0,1.71), -webkit-transform .3s cubic-bezier(.22,.68,0,1.71);
		will-change: transform;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}

	.all-sites ul li a:hover {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}}
@media (max-width: 1199px) {
	.site-header {
		min-height: 80px;
	}

	.is-fixed.site-header {
		display: none !important;
	}
	.menu-nav ul li:not(:first-child):not(:last-child) {
		padding-left: 15px;
		padding-right: 15px;
	}
	.site-header:not(.site-header--index) .menu-nav:not(.is-open) ul li:nth-child(2) {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	.index-first-screen__text {
		padding-top: 100px;
		padding-bottom: 60px;
	}
	.index-tabs {
		height: 160px;
	}

	.index-tabs ul li {
		margin: 10px;
		-ms-flex-preferred-size: 81px;
		    flex-basis: 81px;
		max-width: 81px;
	}
	.cite {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(2, 340px);
		grid-gap: 30px;
	}
	.latest-blog-item:nth-child(3) {
		display: none;
	}}
@media (max-width: 991px) {
	.site-header .container {
		max-width: none;
	}

	.menu {
		padding-left: 40px;
		padding-right: 40px;
	}
	.menu-button {
		display: block;
		width: 100%;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		pointer-events: all;
	}

	.is-open + .menu-button {
		background-color: rgba(255, 255, 255, .3);
		-webkit-transition: background-color .3s;
		transition: background-color .3s;
		border-bottom: 1px solid #E8E8E8;
		min-height: 80px;
		pointer-events: none;
	}

	.menu-button__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 32px;
		height: 42px;
		margin: 18px 40px 18px auto;
		padding: 0;
		border: none;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		cursor: pointer;
		pointer-events: all;
	}

	.is-closed .menu-button__wrapper {
		margin: 8px 0 8px auto;
	}

	.menu-button__wrapper span {
		display: block;
		width: 32px;
		height: 3px;
		background-color: #333333;
		opacity: 1;
		-webkit-transition: opacity .3s, -webkit-transform .3s;
		transition: opacity .3s, -webkit-transform .3s;
		transition: transform .3s, opacity .3s;
		transition: transform .3s, opacity .3s, -webkit-transform .3s;
		will-change: opacity, transform;
	}

	.menu-button__wrapper:hover span {
		opacity: 0.7;
	}

	.menu-button.is-closed .menu-button__wrapper span {
		-webkit-transform-origin: center center;
		        transform-origin: center center;
		-webkit-transform: translate(0,0) rotate(0);
		        transform: translate(0,0) rotate(0);

	}

	.menu-button__wrapper span + span {
		margin-top: 7px;
	}
	.menu-nav {
		-ms-flex-preferred-size: calc(100% - 22px);
		    flex-basis: calc(100% - 22px);
		max-width: calc(100% - 22px);
		padding-right: 40px;
	}

	.menu-nav ul li:not(:first-child) {
		display: none;
	}

	.menu-nav.is-open {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		max-width: 100%;
		min-height: 600px;
		padding-right: 0;
		background-image: radial-gradient(circle 250px at center, white 0%, #d4edfd 100%);
	}

	.menu-nav.is-open ul {
		width: 100%;
		height: 100%;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-ms-flex-wrap: nowrap;
		    flex-wrap: nowrap;
		padding-top: 100px;
	}

	.menu-nav.is-open ul li {
		width: 100%;
		text-align: center;
	}

	.menu-nav.is-open ul li:not(:first-child) a {
		color: var(--black);
		-webkit-transition: color .3s;
		transition: color .3s;
	}

	.menu-nav.is-open ul li:not(:first-child) a:hover,
	.menu-nav.is-open ul li.current_page_item a {
		color: var(--turquoise);
		opacity: 1;
	}

	.menu-nav.is-open ul li:first-child {
		position: fixed;
		top: 28px;
		left: 40px;
		text-align: left;
	}

	.menu-nav.is-open ul li:last-child {
		height: auto;
		-webkit-box-ordinal-group: 1;
		    -ms-flex-order: 0;
		        order: 0;
		padding-left: 15px;
		padding-right: 15px;
	}

	.menu-nav.is-open ul li:not(:first-child):not(:last-child):not(:last-child),
	.menu-nav.is-open ul li:last-child {
		margin-bottom: 24px;
	}

	.menu-nav.is-open ul li:not(:first-child):not(:last-child) a,
	.menu-nav.is-open ul li:last-child a {
		font-size: 48px;
		line-height: 65px;
	}

	.menu-nav.is-open ul li:not(:first-child):not(:nth-child(2)) {
		display: block;
	}
	.site-header:not(.site-header--index) .menu-nav:not(.is-open) ul li:first-child {
		display: none;
	}
	.index-benefits__content-wrapper {
		padding-bottom: 50px;
	}
	
	.index-benefits__item {
		grid-column-end: span 3;
	}
	.index-reviews__item {
		max-width: 540px;
	}
	.lottery__item {
		padding-left: 0;
		padding-right: 0;
	}
	.learn-more-text {
		padding-top: 50px;
	}
	.matcher-text__text {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.matcher-text__photo {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.matcher-text {
		padding-top: 50px;
		margin-bottom: 30px;
	}

	.matcher-text h1 {
		margin-bottom: 30px;
	}

	.matcher-text p {
		text-align: center;
	}
	.confidentiality-text {
		padding-top: 50px;
	}
	.get-started-form {
		padding-top: 50px;
		margin-bottom: 30px;
	}
	.love-lottery-content {
		padding-top: 10px;
	}
	.index-tabs--blog {
		margin-bottom: 30px;
	}
	.article-content__main,
	.article-content__sidebar {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.article-content__sidebar {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
	}

	.article-content__main {
		padding-left: 15px;
		padding-right: 15px;
	}

	.article-content__main small {
		text-align: center;
	}
	.sidebar-subscribe form {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.sidebar-subscribe .subscribe__email,
	.sidebar-subscribe .subscribe__submit,
	.sidebar-share a {
		margin-left: 10px;
		margin-right: 10px;
	}

	.sidebar-share__wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 40px;
	}

	.footer-top {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin-bottom: 50px;
	}

	.footer-top__logo,
	.footer-top__menu {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.footer-top__logo {
		text-align: center;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
	}

	.footer-top__menu {
		margin-bottom: 80px;
	}

	.footer-top__menu li {
		margin-left: 10px;
		margin-right: 10px;
	}

	.footer-top__menu li:not(:last-child) {
		margin-right: 10px;
	}
	.footer-bottom  p {
		text-align: center;
	}}
@media (max-width: 767px) {
	.site-footer {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 80px;
	}
	.index-first-screen__text {
		height: auto;
		padding-top: 90px;
	}	

	.index-first-screen__text svg {
		width: 140px;
		height: 124px;
	}

	.index-first-screen__text h1 {
		font-size: 24px;
		line-height: 34px;
	}

	.index-first-screen__text h2 {
		font-size: 20px;
		line-height: 38px;
	}

	.index-first-screen__text .btn {
		margin-top: 10px;
	}
	.btn {
		width: 180px;
		height: 50px;
		font-size: 18px;
		line-height: 50px;
	}
	.index-tabs {
		height: auto;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.index-tabs ul {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	.cite {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.index-reviews__item {
		padding: 15px 25px;
		max-width: calc(100% - 60px);
	}
	.index-reviews__item p {
		font-size: 14px;
		line-height: 28px;
	}

	.index-reviews__item cite a {
		font-size: 14px;
		line-height: 19px;
	}
	.reviews-item__slider-controls {
		top: auto;
		bottom: -70px;
		left: 70px;
		width: calc(100% - 140px);
		height: 70px;
	}
	.lottery {
		margin-bottom: 30px;
	}

	.lottery .container {
		padding-bottom: 20px;
	}
	
	.lottery h1,
	.lottery h2 {
		font-size: 36px;
		line-height: 48px;
	}

	.lottery p {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 10px;
	}
	.lottery__item {
		grid-column-end: span 2;
	}

	.lottery__item:first-child {
		margin-bottom: 60px;
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(1, 340px);
	}
	.latest-blog-item:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.learn-more-text {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.learn-more-text h1 {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	.learn-more-text p {
		font-size: 14px;
		line-height: 26px;
	}
	.qa {
		margin-bottom: 50px;
	}

	.qa .btn {
		margin-top: 10px;
	}
	.qa__item {
		margin-bottom: 50px;
		padding-bottom: 40px;
	}
	
	.qa__item h2 {
		font-size: 24px;
		line-height: 33px;
	}

	.qa__item p {
		font-size: 14px;
		line-height: 24px;
	}
	.matcher-text {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 0;
	}

	.matcher-text h1 {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	.matcher-text p {
		font-size: 14px;
		line-height: 26px;
	}
	.confidentiality-text {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.confidentiality-text h1 {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 30px;
	}

	.confidentiality-text p {
		font-size: 14px;
		line-height: 26px;
	}
	.get-started-form {
		padding-top: 40px;
		padding-bottom: 40px;
		margin-bottom: 0;
	}
	.love-lottery-content {
		padding-top: 0;
		padding-bottom: 40px;
	}
	.index-tabs--blog {
		padding-bottom: 40px;
	}

	.blog-title h1,
	.blog-title__category {
		text-align: center;
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;
	}

	.blog-title__category-btn {
		margin-left: auto;
		margin-right: auto;
	}
	.article-img__title {
		padding: 30px 10px;
	}

	.article-img__title h1 {
		font-size: 24px;
		line-height: 33px;
	}

	.article-img__title p {
		font-size: 18px;
		line-height: 24px;
	}
	.footer-top__menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin-bottom: 50px;
	}

	.footer-top__menu li:not(:last-child) {
		margin-bottom: 20px;
	}}
@media (max-width: 641px) {}
@media (max-width: 479px) {
	.menu {
		padding-left: 15px;
		padding-right: 15px;
	}
	.menu-button__wrapper {
		margin-right: 15px;
	}
	.menu-nav {
		padding-right: 0;
	}

	.menu-nav.is-open ul li:first-child {
		left: 15px;
	}

	.menu-nav ul li:last-child {
		display: none;
	}

	.menu-nav.is-open ul li:last-child {
		display: block;
	}

	.menu-nav.is-open ul li:not(:first-child):not(:last-child):not(:last-child),
	.menu-nav.is-open ul li:last-child {
		margin-bottom: 20px;
	}

	.menu-nav.is-open ul li:not(:first-child):not(:last-child) a,
	.menu-nav.is-open ul li:last-child a {
		font-size: 36px;
		line-height: 48px;
	}
	.index-first-screen__img picture,
	.index-first-screen__img img {
		width: auto;
		height: 100%;
	}
	.all-sites {
		height: 70px;
	}

	.all-sites ul li {
		margin-left: 2px;
		margin-right: 2px;
	}
	.all-sites ul li {
		margin-left: 2px;
		margin-right: 2px;
	}
	.cite h3 {
		font-size: 18px;
		line-height: 30px;
	}

	.cite p {
		font-size: 18px;
		line-height: 24px;
	}
	.index-main-text h3 {
		font-size: 20px;
		line-height: 29px;
	}

	.cite p {
		font-size: 14px;
		line-height: 26px;
	}
	.index-reviews__item {
		max-width: calc(100% - 20px);
		-webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .1);
		        box-shadow: 0 8px 10px 0 rgba(0, 0, 0, .1);
	}
	.latest-blog-posts__wrapper {
		grid-template-columns: repeat(1, 1fr);
		max-width: 100%;
	}
	.latest-blog-item:nth-child(3) {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.subscribe__wrapper {
		min-height: 440px;
	}

	.subscribe h2 {
		font-size: 20px;
		line-height: 27px;
	}

	.subscribe p {
		font-size: 14px;
		line-height: 26px;
	}

	.subscribe .subscribe__email {
		text-align: center;
		padding-right: 28px;
	}

	.subscribe .subscribe__submit {
		position: static;
		display: block;
		margin: 20px auto 0;
	}
	.matcher-text__photo {
		text-align: center;
		max-width: 100%;
	}

	.matcher-text__photo img {
		height: auto;
		max-width: 100%;
	}}

/*# sourceMappingURL=styles.css.map */
