/*
Theme Name: MatchMaker
Theme URI: https://bitbucket.org/Medvedar/matchmaker
Author URI: wp.medar.pp.ua
Author: Max Medar
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: bootstrap, responsive, mobile ready
Text Domain: matchmaker
*/

body.admin-bar {
    padding-bottom: 32px;
}

body.admin-bar header.site-header {
    top: 32px;
}

.sticky {

}

.wp-caption {

}

.wp-caption-text {

}

.screen-reader-text {

}

.gallery-caption {

}

.bypostauthor {

}

.alignleft {
    display: inline !important;
    float: left;
    margin-right: 1.5em !important;
}

.alignright {
    display: inline !important;
    float: right;
    margin-left: 1.5em !important;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.latest-blog-posts .btn {
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
}